data
letsencrypt

# FRONTEND
frontend/node_modules/
frontend/pages/bans/
frontend/config.json
dist
dist-ssr
*.local

# BACKEND
backend/configs/*.yml
backend/build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
