.header {
    width: 100%;
    height: 10%;
    align-items: center;
}

.header__project {
    width: 50%;
    font-weight: 500;
    font-size: larger;
    letter-spacing: 2px;
    padding-left: 70px;
    color: whitesmoke;
    position: relative;
}

.header-selected {
    color: whitesmoke;
}

.header__nav {
    width: 50%;
}

.header__items {
    justify-content: space-evenly;
}

.header__item:first-child {
    margin-left: 0;
}

.header__item:last-child {
    margin-right: 0;
}

.header__item-link {
    position: relative;
}

.header__button {
    width: 250px;
    height: 40px;
    color: whitesmoke;
    padding: 0 50px 0 30px;
}

.header__button-item {
    position: relative;
    border-radius: 10px;
    transition: all .5s;
    cursor: pointer;
}

.header__button-item.open {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header__button-item:has(.login) {
    padding: 10px;
}

.header__button-item:hover {
    transition: all .5s;
}

.login::before {
    position: absolute;
    content: "";
    top: 7px;
    right: 100px;
    width: 24px;
    height: 24px;
    background: url("../../../assets/icons/root/log-in.svg") no-repeat;
}

.profile::before {
    position: absolute;
    content: "";
    top: 7px;
    left: 10px;
    width: 24px;
    height: 24px;
    background: url("../../../assets/root/username.svg") no-repeat;
}

.profile::after {
    position: absolute;
    content: "";
    top: 7px;
    right: -1px;
    width: 24px;
    height: 24px;
    background: url("../../../assets/root/arrow-drop-down-rounded.svg") no-repeat;
}

.header__item-link:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .header__item-link:hover:after { 
    width: 100%; 
    left: 0;
  }
  .header__item-link:hover {
    transition: ease .5s;
    color: #fff;
  }
  @media (max-width: 900px) {
      .header__project {
          display: none;
      }
      .header__item {
          margin: 0 15px 0 15px;
      }
  }

.profile-list {

}

.profile-list-item {
    position: relative; /* Для правильного позиционирования dropdown */
    padding-top: 10px;
}

.profile-list-item-link {
    padding-left: 16px;
    color: whitesmoke;
}

.profile-list-item-link:hover {
    color: #ddd; /* Легкий эффект при наведении */
}

.dropdown-list {
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    padding: 5px 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    display: none;
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-list.open {
    margin-top: 15px;
    display: block;
    width: 100%;
    opacity: 1;
    transform: translateY(0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-list-item {
    padding: 10px;
    transition: all .3s;
}

.dropdown-list-item:hover {
    background-color: #444;
    transition: all .3s;
}
