.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    z-index: 1;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: #101010;
    width: 750px;
    transform: scale(0.5);
    transition: all .4s;
    color: whitesmoke;
}

.modal__content.active {
    transform: scale(1);
}

.modal__header {
    font-size: x-large;
}

.modal__hr {
    margin: 5px 0 10px 0;
}

.modal__description {
    line-height: 1.5rem;
}