.main {
    width: 50%;
    margin-left: 10px;
}

.main__items {
    height: 100%;
}

.main__item:last-child {
    margin-bottom: 0;
}

.main__item {
    height: 32%;
    margin-bottom: 14px;
    position: relative;
}

.main__item-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: blur(2px) grayscale(1);
    transition: all .5s;
}

.main__item:hover .main__item-image {
    filter: blur(0);
}

.main__item:hover .main__item-button {
    opacity: 1;
}

.main__item-skeleton {
    color: whitesmoke;
}

.main__item-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
}

.main__item-navbar {
    position: absolute;
    top: 80%;
    right: 5%;
}

.main__item-button {
    transition: all .3s;
    opacity: 0;
}

@media (max-width: 900px) {
    .main__item-title {
        font-size: 24px;
    }
    .main {
        width: 100%;
        height: 50%;
        margin-left: 0;
    }
    .main__item-navbar {
        top: 70%;
    }
}

@media (max-width: 500px) {
    .main__item-navbar {
        top: 65%;
    }
}